<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website</title>
</head>
<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem esse odit officiis inventore, vel magni, obcaecati voluptatibus sunt accusamus nobis animi rem, mollitia hic aspernatur sint saepe aliquam cum deleniti.
    Sint nostrum quaerat cupiditate dolore eum ea, porro suscipit incidunt sequi fugiat quisquam id odit dignissimos mollitia temporibus, velit voluptates blanditiis tempore in. Exercitationem, ex incidunt sunt odit culpa inventore.
    Ipsum nam ducimus maxime facere saepe error, ab eum nobis natus! Reprehenderit obcaecati, sint repellat explicabo nam necessitatibus consectetur debitis, reiciendis vitae suscipit in odit dicta dolore corporis delectus totam?
    Cumque sit earum minima dolore quidem possimus natus, ea maxime quam voluptate commodi? Hic doloremque optio, iure ab quidem voluptates deserunt, doloribus repellendus laboriosam commodi, itaque voluptate? Praesentium, culpa tempora.
    Ipsam possimus nostrum quam veritatis. Modi sapiente architecto nemo id! Quis assumenda veniam odit temporibus quaerat accusantium ipsum ratione nihil consectetur quod libero qui distinctio in, necessitatibus pariatur saepe ipsa.
    Unde ipsa laborum repellendus minima odit quae, quod soluta in earum at ad expedita placeat corporis tenetur, ratione atque! Porro delectus error aperiam harum ipsum corporis beatae consequuntur veritatis nobis!
    Pariatur magni aut illum eveniet iusto perspiciatis aspernatur, adipisci explicabo omnis quis a eaque iure aperiam fuga veniam molestiae in esse commodi consequuntur delectus expedita? Quod iusto perspiciatis ratione deserunt.
    Natus nam nihil vel quam architecto tenetur error laboriosam eius consequatur nemo, nulla tempore quos quasi temporibus ex. Maxime nihil ad natus voluptates tempora minus odio numquam nisi culpa? Suscipit.
    In saepe molestiae magnam provident at quo neque id molestias exercitationem quia eaque, recusandae asperiores qui. Corrupti, molestias sint porro laborum vitae laudantium sed, praesentium esse numquam quis inventore dolor.
    Quisquam quidem optio odio saepe, voluptatem iusto unde, expedita impedit illo nesciunt sit, odit ratione dolores blanditiis a cum vel dolore aperiam. Iusto blanditiis nemo itaque possimus, illo quidem inventore.</p>
    {{> footer}}
</body>
</html>